.layout {
    display: flex;
    flex-direction: row;
    background-color: rgb(247, 247, 247);
    min-height: 100vh;
}

.content {
    margin-top: 0px;
    margin-left: 300px;
    padding: 20px;
    flex-grow: 1;
}

.sidebar {
    width: 150px;
}
